<h1>Liste des épisodes</h1>
<div class="episodes">
  <h1>Tous nos épisodes</h1>
  <div class="series">
    <%- @episodes.date -%>
    <div class="col-sm-4">
      <%= @episodes.title %>
    </div>
    <section class="row episode">
      <div class="col-sm-8">
        <h2><%= @episodes.identifiant %></h2>
        <h3><%= @episodes.title %></h3>
      </div>
    </section>
  </div>
</div>