<h1>Bienvenue !</h1>
<div class="series">
  <h1>Episode <%= @episode.title %>  de la saison <%= @episode.seasonnum %> </h1>
  <ul>
    <li>N° épisode : <%= @episode.episodenum %></li>
    <li>Date de diffusion : <%= @episode.diffusiondate %></li>
  </ul>

</div>