<div class="series">
  <h1><%= @episode.title %></h1>
  <ul>
    <li>Date de diffusion : <%= @episode.diffusionDate %></li>
    <li>Saison : <%= @episode.seasonNumber %></li>
    <li>Numero : <%= @episode.episodeNumber %></li>
  </ul>
</div>